@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@font-face {
  /** @see [Google Material Symbols guide](https://developers.google.com/fonts/docs/material_symbols#use_in_web) */
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-symbols/MaterialSymbolsRounded-FILL-GRAD-opsz-wght.woff2) format('woff2'),
    url(../fonts/material-symbols/MaterialSymbolsRounded-FILL-GRAD-opsz-wght.ttf) format('truetype');
}

:root {
  --c-hi: #fff;
  --c-lo: #333c;
  --c-base: #161616;
  --c-accent: #000;
  --c-text: #fffc;
  --c-code: var(--c-hi);
  --c-action: var(--c-hi);
  --c-active: #2d9cdb;
  --c-error: #f43;
  --c-warn: #f92;
  --c-good-0: #fff;
  --c-good-1: #1acc6c;
  --c-interact: #2d9cdb15;
  --c-disable: #999;
  --s-font-m: 1rem;
  --s-font-s: 0.6rem;
  --s-l0-x: 2rem;
  --s-l0-y: 2rem;
  --s-m0-x: 2rem;
  --s-m0-y: 1rem;
  --s-m0-r: 1rem;
  --s-m1-x: 1.1rem;
  --s-m1-y: 0.5rem;
  --s-m1-r: 0.5rem;
  --s-s0-x: 5px;
  --s-s0-y: 1px;
  --s-s0-r: 2px;
  --s-s1-x: 8px;
  --s-s1-y: 6px;
  --s-s1-r: 3px;
  --s-s2-x: 4px;
  --s-s2-y: 1px;
  --s-line-x: 30rem;
  --s-icon: 3rem;
  --s-input-x: 0.7rem;
  --s-input-y: 0.7rem;
  --s-input-r: 2rem;
  --s-jump-x: 0;
  --s-jump-y: -9rem;
  --s-jumped-x: 0;
  --s-jumped-y: 9rem;
  --z-nav: 9;
  --z-jump: 0;
  --fit: contain;
}

*,
*:before,
*:after { box-sizing: inherit; }

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: Inter, sans-serif;
  font-weight: 100;
  overflow: hidden auto;
  scroll-behavior: smooth;
}

html,
nav {
  color: var(--c-text);
  background: var(--c-base);
  font-size: var(--s-font-m);
}

body {
  min-height: 100%;
  margin: 0;
  line-height: 1.6;
  animation: 900ms ease-out 700ms 1 backwards fadeIn;
  will-change: opacity;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

nav,
form {
  align-self: stretch;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

nav {
  --c-text: #000c;
  --c-hi: #000;
  --c-base: #fff;
  --c-action: var(--c-hi);
  --s-font-m: 1.1rem;
  position: sticky;
  inset: var(--s-s1-r) 0;
  margin: var(--s-s1-r);
  padding: var(--s-m1-y) var(--s-m1-x);
  gap: 1rem 1.5rem;
  z-index: var(--z-nav);
  font-weight: 500;
  border-radius: var(--s-s1-r);
  box-shadow: 0 0 var(--s-s1-r) 0 var(--c-hi);
  /* backdrop-filter: invert(1) blur(3px) saturate(0.5); */

  /* @media (min-width: 40rem) {} */
}

form {
  gap: var(--s-m1-r);
  padding: var(--s-s2-y) var(--s-s2-x);
  border: 1px solid currentColor;
  border-radius: var(--s-input-r);
  overflow: hidden;

  input,
  button,
  .button,
  label {
    &:not(:hover, :focus, :active) { border-color: #0000; }
  }

  &:not(:focus, :focus-within) .optional:not(:focus, :focus-within) {
    position: absolute;
    pointer-events: none;
    opacity: 0;
    z-index: -1;
  }

  &:invalid {
    [type="submit"] {
      color: var(--c-disable);

      &:invalid { color: var(--c-warn); }
    }

    :not(:placeholder-shown):required:invalid {
      color: var(--c-error);
      border-color: var(--c-error);

      & ~ [type="submit"] { cursor: not-allowed; }
    }
  }
}

header,
article {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
}

header {
  flex-flow: row-reverse wrap;
  /* min-height: 95vh;
  min-height: 95dvh; */
  /* padding: var(--s-s1-r); */
  /* background: var(--c-accent); */
}

article { flex-flow: row wrap; }

section,
figure { flex: 0 1 auto; }

.bleed-inset,
section {
  padding: var(--s-l0-y) var(--s-l0-x);

  section { padding: 0; }
}

figure {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin: 0;
  cursor: zoom-in;
  background: var(--c-base);

  &:fullscreen { cursor: zoom-out; }
}

figcaption {
  position: absolute;
  bottom: 0;
  max-height: 2.6em;
  padding: var(--s-s1-y) var(--s-s1-x);
  margin: var(--s-s1-r);
  overflow: auto;
  border-radius: var(--s-s1-r);
  background: var(--c-lo);
  text-align: center;
  backdrop-filter: invert(1) blur(3px) saturate(0.5);
  transition: transform 300ms ease-out,
    opacity 300ms ease-out,
    backdrop-filter 300ms ease-out;
  will-change: transform, opacity, backdrop-filter;

  figure:is(:hover, :active) &:not(:hover, :active) {
    transform: translateY(100%) translateY(calc(-1*var(--s-s1-y)));
    opacity: 0.3;
    backdrop-filter: none;
    transition: transform 900ms ease-in,
      opacity 900ms ease-in,
      backdrop-filter 900ms ease-in;
  }

  figure:fullscreen & { display: none; }
}

img,
video,
canvas {
  flex: 1 1 auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: var(--fit);
}

code {
  display: inline-block;
  font-family: monospace, sans-serif;
  font-size: 0.9em;
  font-weight: 100;
  border-radius: var(--s-s1-r);
  padding: var(--s-s0-y) var(--s-s0-x);
  background: var(--c-lo);
  color: var(--c-code);
}

a,
input,
button,
.button,
label {
  &:hover,
  &:focus,
  &:active {
    color: var(--c-active);
    outline-color: currentColor;
  }

  &.icon {
    border-radius: var(--s-icon);
    background: #0000;
  }

  &.icon-in { padding: 0 0 0 var(--s-input-x); }

  em,
  strong,
  code { color: inherit; }
}

a {
  position: relative;
  z-index: 0;
  padding: var(--s-s0-r) 0;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--s-s0-r);
  color: var(--c-action);
  background-image: linear-gradient(to top,
    currentColor var(--s-s0-r), #0000 var(--s-s0-r));
  background-repeat: repeat no-repeat;
  background-position-y: 0;
  transition: color 900ms ease-out,
    border-color 900ms ease-out,
    outline-color 900ms ease-out,
    background-position-y 900ms ease-out;
  will-change: color, border-color, outline-color, background-position-y;

  &:hover,
  &:focus,
  &:active,
  &[href^="#"] {
    background-position-y: calc(0.6*var(--s-s0-r));
    transition: color 300ms ease-in,
      border-color 300ms ease-in,
      outline-color 300ms ease-in,
      background-position-y 300ms ease-in;
  }

  &.icon,
  &.link-plain { background: #0000; }

  &[target="_blank"] { cursor: alias; }

  &.button { display: inline-block; }
}

input,
button,
.button,
label,
.placeholder {
  font-size: var(--s-font-m);
  line-height: 1.5;
  border-radius: var(--s-input-r);
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  background: #0000;
  color: inherit;
  transition: color 900ms ease-out,
    border-color 900ms ease-out,
    outline-color 900ms ease-out;
  will-change: color, border-color, outline-color;
}

input,
button,
.button,
label {
  border: 1px solid currentColor;

  &:hover,
  &:focus,
  &:active {
    transition: color 300ms ease-in,
      border-color 300ms ease-in,
      outline-color 300ms ease-in;
  }
}

input,
button,
.button,
.placeholder { padding: var(--s-input-y) var(--s-input-x); }

label {
  position: relative;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;

  input {
    position: absolute;
    border-width: 0;
    max-width: 100%;

    &:placeholder-shown:not(:focus, :active),
    &:not(:placeholder-shown) ~ .placeholder,
    &:is(:focus, :active) ~ .placeholder {
      pointer-events: none;
      opacity: 0;
      outline: none;
      z-index: -1;
    }
  }
}

input {
  &[type="text"],
  &[type="email"] { background: var(--c-interact); }
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: var(--s-icon);
  height: var(--s-icon);
  vertical-align: middle;
  /** @see [Google Material Symbols guide](https://developers.google.com/fonts/docs/material_symbols#use_in_web) */
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  /* display: inline-block; */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;

  &[type="submit"] {
    position: relative;
    overflow: hidden;

    &[disabled] { cursor: wait; }

    &::before,
    &::after {
      display: inherit;
      flex-flow: inherit;
      justify-content: inherit;
      align-items: inherit;
      position: absolute;
      inset: 0;
      z-index: 1;
      pointer-events: none;
      color: #0000;
      opacity: 0;
      transition: color 700ms ease-out,
        opacity 700ms ease-out 500ms;
      will-change: color, opacity;
    }

    &::before {
      --c-show: var(--c-good-0);
      content: 'schedule_send';
      background: var(--c-warn);
    }

    &::after {
      --c-show: var(--c-good-0);
      content: 'done_outline';
      background: var(--c-good-1);
    }

    &[disabled]::before,
    .success &::after,
    &.success::after {
      color: var(--c-show);
      opacity: 1;
      transition: none;
      z-index: 2;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-hi);
  margin: var(--s-m0-y) var(--s-m0-x);
  max-width: var(--s-line-x);
}

h1 {
  font-size: 2.8em;
  font-weight: 700;
}

h2 {
  font-size: 1.6em;
  font-weight: 700;
}

h3 {
  font-size: 1.3em;
  font-weight: 700;
}

h4,
h5,
h6 { font-size: 1em; }

p,
ul,
ol {
  margin: var(--s-m0-y) var(--s-m0-x);
  max-width: var(--s-line-x);
}

ul {
  padding-left: var(--s-m1-x);
  list-style-type: "~ ";
}

ol { padding-left: var(--s-m1-x); }

li { margin: var(--s-m0-y) 0; }

em,
strong { color: var(--c-hi); }

strong { font-weight: 900; }

.load {
  background-size: var(--fit);
  background-repeat: no-repeat;

  &.loaded { background-image: none !important; }

  &:not(.loaded) { filter: blur(2px); }
}

.nav-cta {
  --s-input-x: 0.8rem;
  --s-input-y: 0.8rem;
}

.intro-main { order: 1; }

.peel-art {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #e6e6e6;
  /* cursor: move; */
}

.peel-art-main {
  max-height: 60vmin;
  max-width: 60vmin;
  /* max-height: 75vh;
  max-height: 75dvh;
  max-width: 75vw;
  max-width: 75dvw; */
}

.peel-art-layer {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  pointer-events: none;
  clip-path: polygon(-140% 0%, -100% 0%, -200% 100%, -240% 100%);
  transition: clip-path 900ms ease-in;
  will-change: clip-path;

  &:nth-of-type(3) {
    clip-path: polygon(-220% 0%, -180% 0%, -280% 100%, -320% 100%);

    .peel-far & {
      clip-path: polygon(100% 0%, 130% 0%, 130% 100%, 100% 100%);
    }
  }

  &:nth-of-type(4) {
    clip-path: polygon(-210% 0%, -170% 0%, -270% 100%, -310% 100%);

    .peel-far & {
      clip-path: polygon(130% 0%, 160% 0%, 160% 100%, 130% 100%);
    }
  }

  &:nth-of-type(5) {
    clip-path: polygon(-200% 0%, -160% 0%, -260% 100%, -300% 100%);

    .peel-far & {
      clip-path: polygon(160% 0%, 190% 0%, 190% 100%, 160% 100%);
    }
  }

  &:nth-of-type(6) {
    clip-path: polygon(-190% 0%, -150% 0%, -250% 100%, -290% 100%);

    .peel-far & {
      clip-path: polygon(190% 0%, 220% 0%, 220% 100%, 190% 100%);
    }
  }

  &:nth-of-type(7) {
    clip-path: polygon(-180% 0%, -140% 0%, -240% 100%, -280% 100%);

    .peel-far & {
      clip-path: polygon(220% 0%, 250% 0%, 250% 100%, 220% 100%);
    }
  }

  &:nth-of-type(8) {
    clip-path: polygon(-170% 0%, -130% 0%, -230% 100%, -270% 100%);

    .peel-far & {
      clip-path: polygon(250% 0%, 280% 0%, 280% 100%, 250% 100%);
    }
  }

  &:nth-of-type(9) {
    clip-path: polygon(-160% 0%, -120% 0%, -220% 100%, -260% 100%);

    .peel-far & {
      clip-path: polygon(280% 0%, 310% 0%, 310% 100%, 280% 100%);
    }
  }

  &:nth-of-type(10) {
    clip-path: polygon(-150% 0%, -110% 0%, -210% 100%, -250% 100%);

    .peel-far & {
      clip-path: polygon(310% 0%, 340% 0%, 340% 100%, 310% 100%);
    }
  }

  &:nth-of-type(11) {
    clip-path: polygon(-140% 0%, -100% 0%, -200% 100%, -240% 100%);

    .peel-far & {
      clip-path: polygon(340% 0%, 370% 0%, 370% 100%, 340% 100%);
    }
  }

  .peel-intro & { transition: clip-path 3000ms ease-in; }

  &.peel-art-layer-fill {
    background-color: inherit;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
    transition: clip-path 1500ms cubic-bezier(0.2, 0.5, 0.8, 0.3) 800ms;

    .peel-far & {
      clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .peel-intro & {
      transition: clip-path 1500ms cubic-bezier(0.2, 0.5, 0.8, 0.3) 2900ms;
    }
  }

  .peel-far & {
    &,
    &.peel-art-layer-fill { transition: none; }
  }

  .peel-art:hover & { transition: clip-path 300ms ease-out; }
}

.peel-intro ~ figcaption {
  opacity: 0;
  transform: translateY(100%);
}

.artizen-laurel {
  flex: 0 1 16rem;
  padding: var(--s-m0-r);
}

.artizen-info,
.card-info {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  max-width: calc(2*var(--s-line-x));

  & > section {
    position: relative;
    flex: 1 1 50%;
    min-width: calc(0.75*var(--s-line-x));
    max-width: var(--s-line-x);
    border: var(--s-s1-r) solid #0000;
    margin: 0 auto;
    background: var(--c-accent);
    background-clip: padding-box;
  }
}

.h-flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.perk,
.peer-demo { width: 100%; }

.peer-demo {
  display: block;
  margin: var(--s-m0-r) 0;
  height: 60dvh;
}

.peer-camera {
  display: none;

  & ~ .icon::after { content: 'privacy'; }

  &:checked ~ .icon::after { content: 'video_call'; }
}

.jump {
  display: block;
  position: absolute;
  inset: var(--s-jump-y) var(--s-jump-x);
  pointer-events: none;
  z-index: var(--z-jump);
  opacity: 0;
  transition: opacity 900ms ease-out;
  will-change: opacity;

  &::after {
    content: '';
    display: block;
    position: absolute;
    inset: var(--s-jumped-y) var(--s-jumped-x);
    border-radius: var(--s-s1-r);
    border: var(--s-s1-r) solid var(--c-active);
  }

  &:target {
    opacity: 1;
    transition: opacity 300ms ease-in;
  }
}

.info,
.copy {
  display: inline-block;
  position: relative;

  &::before {
    display: block;
    position: absolute;
    inset: auto 0 100% auto;
    width: auto;
    max-width: var(--s-line-x);
    padding: var(--s-s0-y) var(--s-s0-x);
    border-radius: var(--s-s1-r);
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease-in 500ms,
      transform 500ms ease-in 500ms;
    will-change: opacity, transform;
  }

  &:hover,
  &:focus,
  &:active {
    &::before {
      opacity: 1;
      transform: translateY(-0.2em);
      transition: opacity 300ms ease-out 300ms,
        transform 300ms ease-out 300ms;
    }
  }
}

.info {
  cursor: help;

  &::after {
    content: 'ï¼Š';
    display: inline-block;
    position: absolute;
    inset: auto auto 100%;
    transform: translateY(50%);
    font-size: var(--s-font-s);
    line-height: 1;
    text-decoration: none;
    vertical-align: top;
    color: var(--c-active);
    font-weight: 900;
  }

  &::before {
    content: attr(title);
    color: var(--c-accent);
    background: var(--c-hi);
    font-weight: 100;
  }
}

.copy {
  cursor: copy;

  &::after {
    content: 'content_copy';
    transform: translateY(40%) scale(1.2);
    /** @see [Google Material Symbols guide](https://developers.google.com/fonts/docs/material_symbols#use_in_web) */
    font-family: 'Material Symbols Rounded';
    /* font-weight: normal; */
    font-style: normal;
    /* font-size: 1.5rem; */
    /* display: inline-block; */
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

  &::before {
    content: 'Click to copy';
    font-weight: 900;
    color: var(--c-active);
  }

  &.copied {
    &,
    &:hover,
    &:focus,
    &:active {
      &::before {
        content: 'Copied to clipboard';
        color: var(--c-good-0);
        background: var(--c-good-1);
      }
    }
  }
}
